html {
    height:100%;
}
body {
    min-height:100%;
    background-image: url("plaid.jpg");
    font-family: 'Bowlby One';
}
.header-cats {
    height: 20%;
    width: 100%;
    color: white;
}
.allCats {
    height: 100%;
    width: 100%;
    background-color: #c2c2c2;
}