html {
    height:100%;
}
body {
    min-height:100%;
    background-image: url("img/plaid.jpg");
    font-family: 'Bowlby One';
}
.header-cats {
    height: 20%;
    width: 100%;
}
.allCats {
    position: relative;
    height: 600px;
    width: 100%;
}