body {
    height:100%;
    background-image: url("img/plaid.jpg");
}
h1 {
    color: #2ba6cb;
}
p {
    color: #e80a4c;
}

html, cats, .ng-scope {
    height: 100%;
}

.header-cats {
    height:100%;
    display: inline-block;
    float: left;
    background-color: aliceblue;
    color: #2ba6cb;
    opacity: 0.8;
    width: 15%;
    z-index: 11000;
    padding: 5px;

}
.allCats {
    height:100%;
    display: inline-block;
    position: relative;
    width: 85%;
    z-index: 10000;
}

.button {
    margin: 5px;
    margin-left: 18px;
    width: 75%;
}